{% block head %}
        <title>Power Hour: {{ form.room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="../static/chat.scss">
{% endblock %}


{% block page_content %}
        <h1>Power Hour with Friends</h1>
        <h3>Welcome {{ form.name }}!</h3>
        <h3>You are in chat room "{{ form.room }}"</h3>
		
		<!-- TIMER OBJECT -->
        <div class="timer">
		    <p id="time"></p>
		</div>

        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a id="leave-room" href="#" onclick="leave_room();">Leave this room</a>
        
        <br /><br />

		<form method="POST" action="{{ url_for('main.hours', num=1) }}" style="display:inline">
			<input type="submit" value="START">
		</form>

        <br /><br />


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script>
  // set the Minutes variable (used in timer.js) to num
  var Minutes = {{ num }};
</script>
{% endblock %}
